.topMargin{
    margin-top:20px;
}
#board{
    border: solid black 3px;
}

td, tr{
    border: solid black 1px;
    height: 80px;
    width: 80px;
    padding: 0px;

}

.hidden{
    display: none;
}
.bump,
.alignTexte{
    text-align: center;
}

.importantText{
    font-weight: bolder;
    font-size: 2rem;

}
.bump{
    margin-bottom: 10px;
}
.bump > button{
    min-width: 70px;
}